{{#
########################################
Purpose: 
Create a Switch Virtual Interface (SVI)

Required Variables and Types
VLAN.ID (int)
VLAN.SHUTDOWN (boolean)
VLAN.INTERFACE.DESC (string)
VLAN.INTERFACE.SHUTDOWN (boolean)
VLAN.INTERFACE_IPV4_ADDRESS (string)
########################################
#}}

feature interface-vlan

{% for v in VLAN %}
Vlan{{ v.ID }}
  name {{ v.NAME }}
  state active
{% if v.SHUTDOWN %}
  shutdown
{% else %}
  no shutdown
{% endif %}

interface Vlan{{ v.ID }}
  Description {{ v.INTERFACE.DESC }}
{% if v.INTERFACE.SHUTDOWN %}
  shutdown
{% else %}
  no shutdown
{% endif %}
  ip address {{ v.INTERFACE.IPV4.ADDRESS }} 
{% endfor %}