{{#
########################################
Purpose: 
Create a Switch Virtual Interface (SVI)

Required Variables and Types
VLAN.ID (int)
VLAN.SHUTDOWN (boolean)
VLAN.INTERFACE.DESC (string)
VLAN.INTERFACE.SHUTDOWN (boolean)
VLAN.INTERFACE_IPV4_ADDRESS (string)
########################################
#}}

feature interface-vlan

Vlan{{ VLAN.ID }}
  name {{ VLAN.NAME }}
  state active
{% if VLAN.SHUTDOWN %}
  shutdown
{% else %}
  no shutdown
{% endif %}

interface Vlan{{ VLAN.ID }}
  Description {{ VLAN.INTERFACE.DESC }}
{% if VLAN.INTERFACE.SHUTDOWN %}
  shutdown
{% else %}
  no shutdown
{% endif %}
  ip address {{ VLAN.INTERFACE.IPV4.ADDRESS }} 
