{{#
Purpose: 
Create a Switch Virtual Interface (SVI)

Required Variables and Types
VLAN_ID (int)
VLAN_SHUTDOWN (boolean)
VLAN_INT_DESC (string)
VLAN_INT_IPv4_ADDR (string)
#}}

feature interface-vlan

Vlan{{ VLAN_ID }}
  name {{ VLAN_NAME }}
  state active
{% if VLAN_SHUTDOWN %}
  shutdown
{% else %}
  no shutdown
{% endif %}

interface Vlan{{ VLAN_ID }}
  Description {{ VLAN_INT_DESC }}
{% if VLAN_SHUTDOWN %}
  shutdown
{% else %}
  no shutdown
{% endif %}
  ip address {{ VLAN_INT_IPV4_ADDR }} 
